/*Import fonts*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inconsolata:wght@300;400;500&family=Irish+Grover&family=Lora:ital,wght@0,600;0,700;1,600;1,700&family=PT+Sans:ital@0;1&family=Raleway:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap');
/*font-family: 'Bebas Neue', sans-serif;
font-family: 'Inconsolata', monospace;
font-family: 'Lora', serif;
font-family: 'PT Sans', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Irish Grover', cursive;*/

/* medias breakpoint

320px — 480px: Mobile devices
481px — 768px: iPads, Tablets
769px — 1024px: Small screens, laptops
1025px — 1200px: Desktops, large screens
1201px and more —  Extra large screens, TV */

body{
  background-color: #E8E2BA;
  margin: 0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}


main {
  flex: 1 0 auto;
}
/* ------ colors ------ */

.text-white{
  color: #fafafa
}

.text-active {
  color: #FFD700;
}

.text-olive{
  color: #263133;
  font-weight: bold;
}
/* ------ spacing ------ */

.text-center{
  text-align: center;
}

.mt-50{
  /* margin-top: 60px; */
  align-self: center;
}

.mb-5{
  margin-bottom: 5%;
}

.pl-5{
  padding-left: 5%;
}
/* ------ fonts ------ */

h1, h2 {
  font-family: 'Lora', serif;
}

h3, h4 {
  font-family: 'Raleway', sans-serif;
}

a{
  font-family: 'Inconsolata', monospace;
}

p{
  font-family: 'PT Sans', sans-serif;
}

button{
  font-family: 'Bebas Neue', sans-serif;
}

/* hide and show */

.show {
  display: block;
}

.hide{
  display: none;
}

.show-menu{
  display: block;
}

/* ------------------ header ------------------ */

#container-header{
    width: 100%;
    height: 12vh;
    background-color: #354F52;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
}

nav{
    width: 100%;
    height: 12vh;
    display:flex;
    flex-direction: row;
}

#logo{
    flex: 30%;
    height: 12vh;
    background-image: url('../images/asturias_logo.jpg');
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
}

#navigation{
  flex: 70%;
  display: flex;
  height: 12vh;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
}

#navigation a{
  /* margin-right: 6%; */
  color: #fafafa;
  text-decoration: none;
}

#navigation a:hover{
  color: #FFD700;
}

#btn-hamburguer{
  color: #fafafa;
  align-self: center;
  margin-right: 5%;
  display: none;
}

/* ------------------ footer ------------------ */
footer{
  width:100%;
  /* height:10vh; */
  background-color: #354F52;
}

#footer-container{
  width: 100%;
  height: 10vh;
  display:flex;
  flex-direction: row;
  align-items: center;
}
/*width: 100%;
height: 12vh;
display:flex;
flex-direction: row;*/

.logo-name{
  flex: 40%;
}

#social-links{
  font-size: 150%;
  flex: 60%;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

#social-links a{
  color: #fafafa;
}

#social-links a:hover{
  color: #FFD700;
}
/* ------------------ index ------------------ */

#index-container-father{
    width: 100%;
    /* height: 78vh; */
    background-image: url('../images/cudillero.jpg');
    background-size: cover;
    background-position: center;
    text-align: center;
}

#text-main-image{
    width: 60vw;
    /* height: 30vh; */
    background-color: rgba(255, 255, 255, 0.6);
    /* opacity: 0.5; */
    position: absolute;
    bottom: 45%;
    left: 20vw;
    padding: 2em 0px;
}

#index-buttons{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.button{
  text-decoration: none;
  background-color: #354F52;
  color: #fafafa;
  border: 1px solid black;
  border-radius: 25px;
  font-family: 'Bebas Neue', sans-serif;
  padding: 5px 10px;
  font-size: 100%;
}

.button:hover{
  background-color: #fafafa;
  color: #354F52;
}

#asturias-image{
  width: 25%;
  height: 25%;
  position: absolute;
  bottom: 10vh;
  right: 5%;
  background-image: url('../images/asturias_spain.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.9;
  z-index: 1;
}
/* ------------------ History ------------------ */

.container-cards{
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
.container-card{
  flex: 40%;  
}
.card {
  position: relative;
  width: 350px;
  height: 406px;
  margin: 0 auto;
  margin-top: 5%;
  transition: transform 1500ms;
  transform-style: preserve-3d;
  cursor: pointer;
  transform: translateX(0);
  background-color: #E8E2BA;
  margin-bottom: 5%;
}

.card .face {
  position: absolute; /* Absolute positioning for controlling overlap */
  width: 100%; 
  height: 100%;
  backface-visibility: hidden; /* Hide the back face in flip animations */
  border-radius: 10px; 
  overflow: hidden; /* Clip content that overflows the card area */
  transition: 2000ms;  /* Set a 2-second transition for style changes */
}
  
.card .front {
  transform: perspective(600px) rotateY(0deg); /* 3D transformation to create perspective when rotating */
  box-shadow: 0 5px 10px #000000; /* Box shadow to add depth */
  
}

.card .front img {
  position: absolute; /* Absolute positioning for controlling overlap */
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

.title{
  width: 100%;
  position: absolute;
  bottom: 0px;
  background-color: #000000;
  opacity: 0.8;
  color: #ffffff;
  text-align: center;
  justify-content: center;
  font-size: 1.2rem;
}

.card .back {
  transform: perspective(600px) rotateY(180deg); /* 3D transformation to create perspective when rotating. This hides the back side. */
  background: #354F52; 
  padding: 5px; 
  color: #fafafa;
  display: flex; 
  flex-direction: column;
  justify-content: space-between; 
  text-align: center;
  overflow-y: scroll;
}

.info{
  font-size: 1rem;
}

.card.is-flipped {
  transform: rotateY(180deg);
}

.card .back::-webkit-scrollbar {
  box-shadow: inset 0 0 5px white; 
  border-radius: 10px;
}

.card .back::-webkit-scrollbar-thumb {
  background-color: rgb(0, 0, 0, 0.5);
  border-radius: 10px;
}

.card .back::-webkit-scrollbar-thumb:hover {
  background-color: #333333;
}

/* ------------------ weather ------------------ */
#weather-container{
  width: 100%;
  height: 78vh;
  display: flex;
  flex-direction: row;
}

#weather-container1{
  background-color: #354F52;
  flex: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#date-container{
  font-size: 1.5rem;
}

#weather-container2{
flex: 80%;
}

#current-weather-image{
  position: relative;
  width: 12vw;
  height: 27vh;
  left: 25%;
  background-image: url('');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 3;
}

#weather-container2{
  display: flex;
  flex-direction: column;
}

.city-heading{
  font-size: 110%;
}

.weather-container3{
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.box-weather{
  width: 30%;
  background-color:#1f2f31;
  border: 1px solid #000000;
}

.day-image{
  height:50%;
  background-image: url('');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

#cities-line{
  height:2%;
  width: 80%;
  background-color: #354F52;
  align-self: center;
  margin-top: 2%;
}

/* ------------------ recipes ------------------ */

#recipes-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.recipe-container{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.down-arrow{
  width: 15px;
  height: 15px;
  background-image: url('../images/down_arrow.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: white;
}
.up-arrow{
  width: 15px;
  height: 15px;
  background-image: url('../images/up_arrow.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: white;
  margin-left: 5px;
}
.recipe-button{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
}
.inline-display{
  /* display: inline-block; */
  margin-left: 5px;
  justify-self: left;
}
.item1{
  width: 30rem;
  padding: 1% 10%;
}

#fabada-img{
  width: 20vw;
  height: 20vw;
  background-image: url("../images/recipes/fabada.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#hake-img{
  width: 20vw;
  height: 20vw;
  background-image: url("../images/recipes/merluza_sidra.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#frixuelos-img{
  width: 20vw;
  height: 20vw;
  background-image: url("../images/recipes/frixuelos.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.item2{
  padding: 0% 5%;
}

.item3{
  justify-self: center;
}

.recipe-steps{
  width: 80vw;
  height: 60vh;
  overflow-y: scroll;
  margin: 0 auto;
  border: 1px solid #000000;
  background-color: rgba(53, 79, 82, 0.8);
  color:#fafafa;
  margin-top: 1%;
}

.recipe-steps::-webkit-scrollbar {
  box-shadow: inset 0 0 5px white; 
  border-radius: 10px;
}

.recipe-steps::-webkit-scrollbar-thumb {
  background-color: rgb(0, 0, 0, 0.5);
  border-radius: 10px;
}

.recipe-steps::-webkit-scrollbar-thumb:hover {
  background-color: #333333;
}

#frixuelos{
  margin-bottom: 1%;
}

/* ------------------ gallery.html ------------------ */

.container-gallery{
  width: 80vw;
  margin: auto;
  margin-top: 2%;
}

.container.wide{
  /*   width: 100%; */
    padding: 0 4rem;
  }

.swiper-slide{
  margin:0;
  position: relative;
  overflow: hidden;
  height: 60vh;
}
  
.swiper-slide figcaption{
  background-color: #151515;
  opacity: 0.8;
  color: white;
  position: absolute;
  bottom: 2px;
  font-size: 1.2em;
  justify-content: center;
  gap: .5rem;
  border-radius: .5rem;
  padding: 0.5rem 1rem;
}

figure {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0;
  padding: 0;
}

figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-button-next, .swiper-button-prev{
  color: #fafafa;
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: #5ed0dd;
  height: 8px;
}

/* ------------------ map.html ------------------ */

#map{
  width:75vw;
  height:60vh;
  margin:2% auto;
  border: 1px solid black;
}

.asturias-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.asturias-center button{
  background-color: #354F52;
  color: #fafafa;
  border-radius: 25px;
  width: 20%;
  font-size: 16pt;
  cursor: pointer;
  margin-bottom: 1%;
}
.asturias-center button:hover{
  background-color: #fafafa;
  color: #354F52;
  border-color: #354F52;
}

#btn-flag-S{
  width: 40px;
  height:30px;
  background-image: url('../images/spain_flag.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#btn-flag-A{
  width: 40px;
  height:30px;
  background-image: url('../images/asturias_flag.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.btn-map {
  display: flex;
  align-items: center;
  justify-content: center;
}


.btn-map div {
  margin: 0 5px;
}

#go-asturias{
  font-size: 100%;
}

@media screen and (max-width:480px){
  /* #navigation{
    display: none;
  } */
  #btn-hamburguer{
    display: block;
  }
  #text-main-image h2{
    display: none;
  }
  #index-buttons{
    display: none;
  }
  #go-asturias{
    font-size: 80%;
  }

  #day{
    font-size: 75%;
  }
  #date{
    font-size: 50%
  }

}

@media screen and (min-width:480px){
  /* #navigation{
    flex-direction: row;
  } */
}

